################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ExploreHttpContext
/.vs
/BayView_CSV_Reader/BayViewTest/obj
/BayView_CSV_Reader/.vs/BayView_CSV_Reader
/BayView_CSV_Reader/BayView_CSV_Reader/bin/Debug
/BayView_CSV_Reader/BayView_CSV_Reader/obj
