################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ExploreHttpContext
/.vs
/ServiceScope/.vs
/ServiceScope/ServiceScope/obj
