################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ExploreHttpContext
/.vs
/ServiceScope
/MimicSession
/ExploreUserContext/obj
/ExploreUserContext/bin
/ExploreUserContext/.vs/ExploreUserContext
/ExploreUserContextCommon
/ExploreUserContext/.vs/ProjectEvaluation
/.gitignore
/ExploreUserContext/ExploreUserContextCommon/obj/Debug/net7.0
/ExploreUserContext/ExploreUserContextCommon/bin/Debug/net7.0
/ExploreUserContext/ExploreUserContextCommon/obj
/ExploreUserContext/ExploreUserContextLogic/bin/Debug/net7.0
/ExploreUserContext/ExploreUserContextLogic/obj
/BayView_CSV_Reader
/BlazorWithCircuit
