@* @rendermode InteractiveServer *@

<h3>Car</h3>
<button @onclick="ThrowError1">ThrowError</button>

@code {    
    private void ThrowError1()
    {
        throw new Exception("Not good car");
    }
}
